.header-name{
  padding-top: 180px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #D73A31;
}
#name-header{
  font-size: 70px;
}
.jumbotron{
  color: #FFFFFF;
  background-image: url('../styles/images/header_image.jpg');
  background-size: cover;
  height: 100vh;
}
#arrow_down{
  color: #FFFFFF;
}
#arrow_down:hover{
  color: #f44336;
}
.skills-div{
  width: 100%;
  background-color: #032B2F;
}
#about{
  width: 100%;
  background-image: url('../styles/images/about_me_image.jpg');
  background-size: cover;
  height: 100%;
}
#about_card{
  padding-top: 80px;
  padding-bottom: 240px;
}
#arrow_port{
  color: #757575;
  margin: 0 auto;
}
#arrow_port:hover{
  color: #81d4fa;
}
.devicon-git-plain {
  padding: 10px 5px 2px 10px;
  max-width: 4em;
}
.nav-wrapper{
  color: #D73A31;
}

.btn{
  background-color: #D73A31;
}

#skills-box{
  height: 220px;
  background-color: #D73A31;
}
.about-header{
font-family: 'Poiret One', cursive;
}
#about-text{
  padding: 10px 30px 20px 30px;

}
#skills-headers{
  font-family: 'Poiret One', cursive;
}
#port-header{
  font-family: 'Josefin Sans', sans-serif;
}
.git-plain {
  max-width: 3em;
  padding-bottom: 8px;
}
.resume_email{
  color: #000000;
}
.resume_email:hover{
  color:#757575;
}
